* {
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100px;
}

ul {
  background-color: #333;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

li a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  display: inline-block;
}

li {
  float: left;
}

.active {
  background-color: red;
}

a:hover {
  color: yellow;
}

main::after {
  content: " ";
  position: absolute;
  transform: rotate(90deg);
  width: 53px;
  height: 75px;
  background-color: red;
  left: 523px;
  top: 150px;
}

main {
  width: 800px;
  height: 800px;
  border: 1px solid black;
  margin: auto;
  /* box-shadow: 1px 1px 10px 10px red; */
  border-radius: 10px;
  background-color: antiquewhite;
  /* background-image: url(./pictures/leaves.jpg); */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

form {
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
  margin-top: 85px;
  border-radius: 10px;
  background-image: url(./pictures/Фон\ 1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  border: 2px solid black;
}

.name {
  position: absolute;
  top: 100px;
  left: 65px;
  height: 35px;
  border-radius: 10px;
  border: 2 px solid black;
}

.name:hover {
  background-color: aqua;
  color: white;
  transition: 1s;
}

.e-mail {
  position: absolute;
  top: 100px;
  left: 346px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid black;
}

.e-mail:hover {
  background-color: aqua;
  color: white;
  transition: 1s;
}

.subject {
  position: absolute;
  top: 170px;
  left: 67px;
  width: 459px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
}

.subject:hover {
  background-color: aqua;
  transition: 1s;
}

.button {
  width: 100px;
  height: 60px;
  font-style: italic;
  font-size: large;
  background-color: aquamarine;
  border-radius: 7px;
  position: absolute;
  top: 510px;
  left: 423px;
  border: 2px solid black;
}

.button:hover {
  background-color: blue;
  transition: 1s;
  cursor: pointer;
  color: white;
}

.textarea {
  position: absolute;
  top: 270px;
  left: 70px;
  height: 190px;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  font-family: italic;
  font-weight: 300;
}

.textarea:hover {
  transition: 1s;
  background-color: aquamarine;
}

section {
  width: 800px;
  height: 600px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: antiquewhite;
  margin: auto;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0 40px;
}

div {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  padding: 10px 10px 10px 30px;
  margin-top: 50px;
  border: 2px solid blue;
  border-radius: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

div:hover {
  color: red;
  cursor: pointer;
  background-color: rgba(71, 149, 122, 0.438);
}

.button-product-card {
  width: 120px;
  height: 40px;
  font-size: medium;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(133, 127, 255);
  background-color: bisque;
  border-radius: 7px;
  position: relative;
  left: 15px;
}

.button-product-card:hover {
  box-shadow: 1px 1px 1px 3px;
  transition: 1s;
}

.pictures-hoover {
  position: relative;
  left: 20px;
  padding: 5px 0px 15px;
}

.price {
  position: relative;
  left: 30px;
}

.tv {
  position: relative;
  right: 10px;
}
